@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: 
    linear-gradient(156deg,rgba(124, 4, 4, 0.77) 43%, rgba(255, 204, 0, 1) 110%),
    url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0;
}

.form-section {
  flex: 1;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

h2 {
  color: #7C0404;
  font-size: 2.2rem;
  margin-bottom: 30px;
  text-align: center;
}

form {
  width: 100%;
  max-width: 450px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #7C0404;
  outline: none;
  box-shadow: 0 0 0 3px rgba(124, 4, 4, 0.1);
}

button {
  width: 100%;
  padding: 14px;
  background-color: #7C0404;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #600303;
}


.image-section {
  flex: 1;
  background-color: #7C0404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.alert {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.alert-error {
  background-color: #fdecea;
  color: #b71c1c;
}

.alert-success {
  background-color: #e8f5e9;
  color: #2e7d32;
}

.login-redirect {
    text-align: center;
    margin-top: 19px;
    color: #555;
    font-size: 16px;
}

.login-redirect a {
    color: #7C0404;
    text-decoration: none;
    font-weight: 600;
}

.login-redirect a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
  .page-content {
    flex-direction: column;
  }

  .image-section {
    height: 200px;
  }

  .form-section {
    padding: 30px 20px;
  }
}
